body {
    margin-left: 0px;
    margin-right: 0px;
}

#top, #problem, #PPC, #team {
    position: absolute; margin-top: -84px;
}

.Header .background {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    width: 100%;
    
    background-color: #007765;
}

.Header .head {
    position: relative;
    padding-left: 55px;
    padding-right: 55px;
    margin: auto;

    max-width: 1109px;
}

.Header .background .head .logo {
    float: left;
    margin-top: 20px;
    margin-bottom: 19px;

    width: 184px;
    height: 45px;

    color: #ffffff;
}

.Header .background .head .horizontalmenu {
    list-style: none;
    margin: 0px;
    padding-left: 0px;

    float: right;
}

a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #ffffff;
}

.Header .background .head ul li {
    margin-top: 29px;
    float: right;
    padding-left: 8px;

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #ffffff;
}

.Jumbotron .background {
    margin-top: 84px;
    padding-top: 160px;
    padding-bottom: 160px;

    display: flex;

    background-image: url(res/img/JumbotronBackground.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.Jumbotron .background p {
    margin: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

    color: #ffffff;
}

.Problem .background {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 48px;
    padding-bottom: 92px;

    background-color: #eeeeee;
}

.Problem .background .head {
    position: relative;
    margin-top: 48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;

    text-align: center;

    color: #007765;
}

.Problem .background .text {
    margin-top: 16px;
    margin: auto;

    max-width: 1109px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #000000;
}

.HeroBlock .background {
    padding-top: 128px;
    padding-bottom: 127px;
    padding-right: 55px;
    padding-left: 55px;

    display: flex;

    background-image: url(res/img/HeroBackground.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.HeroBlock .background p {
    max-width: 1109px;
    margin: auto;

    font-family: Roboto;
    font-style: italic  ;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #ffffff;
}

.PPC .background {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 48px;
    padding-bottom: 92px;

    background-color: #ffffff;
}

.PPC .background .head {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;

    text-align: center;

    color: #007765;
}

.PPC .background .PPClogo {
    padding-top: 16px;
    margin: auto;

    max-width: 1109px;
}

.PPClogo img {
    float: left;
}

.PPC .background .PPClogo p {
    margin-left: 163px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #000000;
}

.PPC .background p {
    margin: auto;

    max-width: 1109px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #000000;
}

.team .background {
    padding-top: 58px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 94px;

    background-color: #eeeeee;
}
.team .background p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;

    text-align: center;

    color: #007765;
}

.teamdescription1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    max-width: 1109px;
    margin: auto;
}

.team .background .teamdescription1 figure {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;

    margin: auto;
}

.team .background img {
    width: 168px;
    height: 168px;

    margin: auto;
}

figure figcaption {
    text-align: center;
}

.team .background .Name {
    margin-bottom: 0px;
    padding-bottom: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    text-align: center;

    color: #007765;
}

.team .background .position {
    margin-top: 0px;
    padding-top: 0px;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.end .background {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 48px;
    padding-bottom: 64px;
    background-color: #333333;

    padding-left: 55px;
    padding-right: 55px;
}

.end .background p {
    width: 540px;

    text-align: center;

    margin: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}

@font-face {
    font-family: Roboto;
    src: url(res/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}